.navbar-lewagon {
  background: #343A40;
}

.navbar-lewagon a{
  color: #4FA845;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search{
  background: #343A40;
  flex: 5px;
}
